@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("./../fonts/NeueHaasDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("./../fonts/NeueHaasDisplay-Mediu.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Coign Pro 34";
  src: url("./../fonts/CoignPro-37Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Druk Cyr";
  src: url("./../fonts/DrukCyr-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("./../fonts/NeueHaasDisplay-Roman.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
