$main-page-accent: #DF612B;
$main-page-text: #572B18;
$main-dark-color: #362724;
$black-color: #323232;
$dark-bg: #120803;
$background: #F6E6E5;
$blue-accent: #2A48AA;
$pink-accent: #CF7C97;
$green-accent: #218423;
$yellow-accent: #FABF00;
$red-accent: #EA060D;

$container-padding: 24px;

