.section-title {
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
  font-weight: 600;
  font-size: 215px;
  line-height: 0.85;
  letter-spacing: -10px;

  @media (max-width: 1919px) {
    font-size: 210px;
  }

  @media (max-width: 1599px) {
    font-size: 140px;
    letter-spacing: -4px;
  }

  @media (max-width: 1199px) {
    font-size: 83px;
    letter-spacing: -3px;
  }
  @media (max-width: 899px) {
    font-size: 60px;
    letter-spacing: -2px;
  }
  @media (max-width: 599px) {
    font-size: 37px;
    letter-spacing: -1.4px;
  }
}
