.footer {
  padding: 25px 0 60px;
  background-color: $main-dark-color;
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  color: #fff;
  text-align: left;

  .inline-link:hover,
  .inline-link:focus {
    text-decoration: underline 0.11em #fff;
  }

  .logo {
    margin: 0 0 18px 0;
    @media (max-width: 1599px) {
      width: 40px;
    }

    @media (max-width: 899px) {
      margin: 0 0 12px 0;
    }
    @media (max-width: 1199px) {
      width: 30px;
    }
  }

  @media (max-width: 1599px) {
    font-size: 16px;
  }
  @media (max-width: 1199px) {
    padding: 25px 0 20px;
    font-size: 13px;
  }

  @media (max-width: 899px) {
    padding: 25px 0 15px;
    font-size: 12px;
  }
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  @media (max-width: 1199px) {
    max-width: 800px;
    align-items: center;
  }

  @media (max-width: 899px) {
    max-width: 700px;
    align-items: baseline;
  }

  @media (max-width: 599px) {
    display: block;
    max-width: 290px;
  }
}
.footer__copyright {
  color: rgba(255, 255, 255, 0.6);

  @media (max-width: 599px) {
    color: #fff;
    margin: 0 0 40px;
  }
}

.footer__copyright-text {
  :not(:last-child) {
    margin: 0 0 5px;
    @media (max-width: 599px) {
      margin: 0;
    }
  }
}

.footer__info {
  display: flex;
  justify-content: space-between;
  column-gap: 105px;

  @media (max-width: 1919px) {
    column-gap: 10px;
  }

  @media (max-width: 1199px) {
    column-gap: 55px;
  }

  @media (max-width: 899px) {
    column-gap: 30px;
  }

  @media (max-width: 599px) {
    display: block;
  }
}
.footer__personal-data,
.footer__privacy,
.footer__data-processing {
  width: 246px;

  @media (max-width: 1599px) {
    width: 180px;
  }

  @media (max-width: 1199px) {
    width: 160px;
  }

  @media (max-width: 899px) {
    width: 100px;
  }

  a {
    display: block;
  }

  :not(:last-child) {
    margin: 0 0 5px;
  }
}

.footer__social-media {
  display: flex;
  justify-content: space-between;
  column-gap: 21px;

  @media (max-width: 1599px) {
    column-gap: 12px;
  }

  @media (max-width: 1199px) {
    display: none;
  }

  @media (max-width: 599px) {
    display: flex;
    max-width: 230px;
    column-gap: 0;
  }
}

.footer__social-item {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  padding: 22px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease-in;

  &:hover,
  &:focus {
    background-color: rgba(255, 255, 255, 0.6);
  }

  @media (max-width: 1599px) {
    width: 50px;
    height: 50px;
    padding: 12px;
  }

  @media (max-width: 599px) {
    width: 63px;
    height: 64px;
    padding: 15px;
  }
}
.footer__privacy,
.footer__personal-data {
  @media (max-width: 599px) {
    margin: 0 0 20px;
  }
}

.footer__data-processing {

  @media (max-width: 899px) {
    width: 150px;
  }

  @media (max-width: 599px) {
    margin: 0 0 34px;
  }
}
