.for-whom {
  position: relative;
  max-width: 1920px;
  width: 100%;
  padding: 348px 0 123px;
  margin: 0 auto;
  overflow: hidden;

  @media (max-width: 1599px) {
    padding: 300px 0 123px;
  }

  @media (max-width: 1199px) {
    padding: 240px 0 70px;
  }

  @media (max-width: 899px) {
    padding: 125px 0 0;
  }

  @media (max-width: 599px) {
    padding: 141px 0 0;
  }
  .thin-link {
    color: #fff;

    @media (max-width: 599px) {
      max-width: 100%;
    }
  }
  .thin-link__description {
    max-width: 30px;
  }

  .count {
    @media (max-width: 899px) {
      display: none;
    }
    @media (max-width: 599px) {
      display: none;
    }
  }
}

.for-whom__description,
.for-whom__view-more {
  display: flex;
  justify-content: space-between;

  @media (max-width: 899px) {
    justify-content: unset;
  }
}

.for-whom__description {
  align-items: flex-start;
  user-select: none;

  @media (max-width: 599px) {
    flex-direction: column-reverse;
  }
}

.for-whom__annotation {
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
  max-width: 264px;
  font-weight: 600;
  font-size: 38px;
  line-height: 1;
  letter-spacing: 0.02em;
  color: #ea060d;
  transition: opacity 0.6s ease-in;

  &.scroll-hidden {
    opacity: 0;
  }

  @media (max-width: 1599px) {
    font-size: 30px;
    max-width: 215px;
  }

  @media (max-width: 1199px) {
    font-size: 22px;
    max-width: 164px;
  }

  @media (max-width: 899px) {
    margin: 0 0 0 95px;
    max-width: 155px;
    font-size: 18px;
  }

  @media (max-width: 599px) {
    margin: 0 0 85px;
    align-self: flex-end;
    font-size: 16px;
  }
}

.for-whom__view-more {
  align-items: flex-end;

  p {
    user-select: none;
  }

  @media (max-width: 899px) {
    flex-direction: column;

    .title {
      margin: 0 0 15px;
      align-self: flex-start;
    }
  }

  @media (max-width: 599px) {
    flex-direction: column;

    .title {
      margin: 0 0 15px;
      align-self: flex-start;
    }
  }
}

.for-whom__list .scroll-show-cards {
  display: flex;
}

.for-whom__list {
  position: relative;
}

.for-whom .product-card {
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translateX(-50%);

  @media (max-width: 1919px) {
    top: 40px;
  }

  @media (max-width: 1599px) {
    top: 120px;
  }
  @media (max-width: 1539px) {
    top: 55px;
    transform:unset;
    left: 84px;
  }

  @media (max-width: 599px) {
    top: -40px;

  }
}
.for-whom .product-card__img {
  height: 100%;
  width: auto;
}

.for-whom {
  .product-card--worm {
    margin: 0 0 0 -60px;

    @media (max-width: 599px) {
      margin: -45px 0 0;
    }
  }
  .product-card-robo--alien {
    margin: 0 0 0 -40px;

    @media (max-width: 599px) {
      margin: -30px 0 0;
    }
  }
  .product-card-alien--pipe {
    margin: 0 0 0 -20px;

    @media (max-width: 599px) {
      margin: -15px 0 0;
    }
  }

}
